*{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
}
/* LoginPage.css */
#custom-input:focus {
  outline: none;
  box-shadow: none;
}

.input-container {
  border: 1px solid black; /* Add border styles as needed */
  border-radius: 0; /* Add border-radius styles as needed */
}


.background-image{
  background-image: url('assets/bg-image.jpg');

}
#main-div{
  padding-bottom: 160px;
}
#editbutton{
  color: #ff9640;
  
}

#card{
  background-color: #4b5563;
}

#button{
  background-color: #ff9640;
}

#main-container{
  background-color: #ff9640;
}

#second-main-container{
  background-color: #ff9640;
}



#heading {
  color: #ff9640;
  font-size: 80px;
}

#cards{
  background-color: #4b5563;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}



::-webkit-scrollbar {
    width: 0.2rem;
    height: 0rem;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar-track {
    background: theme-color("site-secondary1");
  } 
  ::-webkit-scrollbar-thumb {
    background-color: #CECECE; 
   border-radius: 1.25rem; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
  }
